@import '../../../../index.css';

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: var(--blue-grotto);
}


@media (min-width: 992px) {
  .nav .navbar-nav .dropdown-menu.show  {
    left: -46%;
  }
}
