@import "../../../../index.css";

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: var(--blue-grotto);
}

.nav .global-search {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: 0px;
  border-color: var(--bs-gray);
}

.nav .global-search-dropdown {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: var(--bs-white);
}

@media (min-width: 992px) {
  .nav .navbar-nav .dropdown-menu.show {
    left: -47%;
  }
}

.spin {
  user-select: none;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* transform: rotate(3deg); */
  /* transform: rotate(0.3rad);/ */
  /* transform: rotate(3grad); */
  /* transform: rotate(.03turn);  */
}

.spin.nav-logo {
  height: 80px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
