@import '../../../index.css';

.auth .submit-btn {
  background-color: var(--blue-grotto);
}

section.auth {
  width: 60%;
  max-width: 700px;
}

@media (max-width: 576px) {
.auth {
    width: 80%;
  }
}