.profile-styles {
  background: #D4F1F4;
}

.card-profile {
  border-radius: 5px;
  background: #fff;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.24);
  padding: 14px 80px 18px 36px;
}

.profile-styles .email {
  overflow-wrap: normal;
}